---
layout: base.njk
title: Page Not Found | Miguel Lara Portfolio
description: The requested page could not be found on Miguel Lara Portfolio.
pageHeading: Page Not Found
permalink: /404.html
eleventyExcludeFromCollections: true
---

<section>
  <h2>Page Not Found</h2>

  <p>The page you requested could not be found.</p>

  <p><a href="{{ '/' | url }}">Return to Home</a></p>
</section>
