---
layout: base.njk
title: Miguel Lara Portfolio
description: I am a computer science student interested in software development. This portfolio contains information about my background, projects, experience, and skills.
pageHeading: Miguel Lara
permalink: /
navKey: home
---

<section>
  <h2>Welcome</h2>

  <p>
    I am a computer science student interested in software development.
    This portfolio contains information about my background, projects,
    experience, and skills.
  </p>
</section>
