<header>
  <a href="{{ '/' | url }}" class="site-logo">
    <img
      src="{{ '/images/profile.jpg' | url }}"
      alt="Portrait of Miguel Lara"
      width="60"
      height="60"
    >
  </a>

  <h1>{{ pageHeading }}</h1>

  <nav aria-label="Main">
    <ul>
      {%- for item in site.navigation %}
      <li>
        <a
          href="{{ item.url | url }}"
          {%- if item.key == navKey %} aria-current="page"{% endif %}
        >{{ item.label }}</a>
      </li>
      {%- endfor %}
    </ul>
  </nav>
</header>
